
body {
  margin: 0;
  padding: 0;
  font-family: 'Tangerine', cursive;
  
}

img {
  width: 100%;
}

.main-container {
  min-height: 85vh;
  background-image: url('./image/clouds.jpg');
  background-size: cover;
  background-position: center bottom;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

button {
  width: 150px;
  margin: 5px;
  border-radius: 25px;
  background-color: lightseagreen;
  box-shadow: 10%;
  -webkit-box-shadow: 0 10px 6px -6px black;
 -moz-box-shadow: 0 10px 6px -6px black;
  box-shadow: 0 10px 6px -6px black;
}


.quote-button, .inner-wrapper {
  margin: 0 auto 40px auto;
  display: flex;
	flex-direction: column;
	justify-content: center;
  align-items: center;
  
}



.header-wrapper {
  display: block;
  width: 100%;
  height: 15vh;
  z-index: 1000;
  position: relative;
  background-color: rgba(32, 178, 171, 0.651);
  text-align: center;
  -webkit-box-shadow: 0 10px 6px -6px black;
 -moz-box-shadow: 0 10px 6px -6px black;
  box-shadow: 0 10px 6px -6px black;
}

.header-wrapper h1 {
  font-size: 45px;
  margin: 0 auto;
  color:black;
  text-align: center;
  padding: 10px;
  position: absolute;
  top: 20px;
  left: 25%;
  
}

.quote-wrapper {
  margin: 30px auto;
  padding: 30px;
  /* border: 2px white solid; */
  max-width: 80%;
  font-size: 20px;
  
}
.key{
  width: 50px;
  margin: 0%;
  

}
.newButton {
  margin: 0%;
  width: 250px;
  background-color: aquamarine;
  text-align: center;
  font-weight: bold;
  border-radius: 25px;
  -webkit-box-shadow: 0 10px 6px -6px black;
 -moz-box-shadow: 0 10px 6px -6px black;
  box-shadow: 0 10px 6px -6px black;
  background: conic-gradient(aquamarine, rgb(50, 149, 196));
  
}
.eraseButton{
  width: 100px;
  margin: 0%;
  -webkit-box-shadow: 0 10px 6px -6px black;
 -moz-box-shadow: 0 10px 6px -6px black;
  box-shadow: 0 10px 6px -6px black;

}
.savedComment{
  display: block;
  width: 25px;
  height: 30px;
  margin-top: 140%;
  margin-right: 70px;
  padding: 75px;
  background-color: aqua;
  font-size: 12px; 
  
  
}
.Submit {
   margin-right: 25%;

   text-align: center;
  
}

.weather{
  background: rgb(52, 186, 204);
  text-align: center;
  border: solid 10px black;
  border-radius: 350px 5px 350px  5px;
  -webkit-box-shadow: 0 10px 6px -6px black;
 -moz-box-shadow: 0 10px 6px -6px black;
  box-shadow: 0 10px 6px -6px lightblue;
}
.weatherButton{
  margin: 0%;
  width: 100px;
  background-color: aquamarine;
  text-align: center;
  font-weight: bold;
  border-radius: 15px;
  -webkit-box-shadow: 0 10px 6px -6px black;
 -moz-box-shadow: 0 10px 6px -6px black;
  box-shadow: 0 10px 6px -6px black;
  background: conic-gradient(aquamarine, rgb(50, 149, 196));
  
}

.inputEdit{
  background-color: aquamarine;
  border-radius: 25px;
  text-align: center;
  font-weight: bold;
  margin-right: 15%;
 -webkit-box-shadow: 0 10px 6px -6px black;
 -moz-box-shadow: 0 10px 6px -6px black;
  box-shadow: 0 10px 6px -6px black;
  background: conic-gradient(aquamarine, rgb(50, 149, 196));

 
}